node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cloudflare Types
/worker-configuration.d.ts

# agent and conf
.ignore
docs/agents/
.agent
.mcp.json
.zed
AGENTS.md
.agents/
opencode.json
# CONTEXT.md
.scratch/

# pocketbase
**/pb_data
# **/pb_migrations
# pocketbase/pb_hooks/generateHooks.pb.js
# pb_schema**

# Config files
.npmrc

eslint.config.js

# Tauri
src-tauri/target
src-tauri/gen/schemas

# Git Worktrees
.worktrees/
