@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

/* Google Fonts imports */

@plugin 'daisyui/theme' {
	name: 'my';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.003 247.858);
	--color-base-200: oklch(96% 0.007 247.896);
	--color-base-300: oklch(92% 0.013 255.508);
	--color-base-content: oklch(20% 0.042 265.755);
	--color-primary: oklch(77% 0.152 181.912);
	--color-primary-content: oklch(27% 0.046 192.524);
	--color-secondary: oklch(86% 0.022 252.894);
	--color-secondary-content: oklch(13% 0.028 261.692);
	--color-accent: oklch(81% 0.111 293.571);
	--color-accent-content: oklch(28% 0.141 291.089);
	--color-neutral: oklch(20% 0.042 265.755);
	--color-neutral-content: oklch(98% 0.003 247.858);
	--color-info: oklch(78% 0.154 211.53);
	--color-info-content: oklch(30% 0.056 229.695);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(26% 0.051 172.552);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.25rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 1;
}

@plugin 'daisyui/theme' {
	name: 'nord-dark';
	color-scheme: 'dark';
	--color-base-100: oklch(25.33% 0.022 252.3);
	--color-base-200: oklch(30.41% 0.027 252.17);
	--color-base-300: oklch(34.98% 0.033 253.2);
	--color-base-content: oklch(93.88% 0.006 255.45);
	--color-primary: oklch(75.52% 0.063 213.78);
	--color-primary-content: oklch(25.33% 0.022 252.3);
	--color-secondary: oklch(65.71% 0.067 229.07);
	--color-secondary-content: oklch(25.33% 0.022 252.3);
	--color-accent: oklch(74.65% 0.046 186.29);
	--color-accent-content: oklch(25.33% 0.022 252.3);
	--color-neutral: oklch(40.45% 0.031 254.12);
	--color-neutral-content: oklch(93.88% 0.006 255.45);
	--color-info: oklch(52.75% 0.089 253.93);
	--color-success: oklch(74.52% 0.076 142.16);
	--color-warning: oklch(82.69% 0.099 87.56);
	--color-error: oklch(58.9% 0.142 22.11);
	--color-error-content: oklch(27% 0.105 12.094);

	--radius-selector: 0.25rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 1;
}

@layer base {
	/* Écrans haute densité (Retina, 4K compact, petits écrans HD) */
	/* TOFIX ? : ne pas appliqué sur les display mobile: les navigateur ont déjà un zoom intelligent ? */
	@media (min-resolution: 130dpi) {
		html {
			font-size: clamp(13px, 0.9vw, 16px);
		}
	}

	/* Écrans densité standard (1080p sur laptops) */
	@media (min-resolution: 110dpi) and (max-resolution: 129dpi) {
		html {
			font-size: clamp(14px, 1vw, 18px);
		}
	}

	/* Écrans basse densité (grands écrans 1080p/1440p) */
	@media (max-resolution: 109dpi) {
		html {
			font-size: clamp(15px, 1.2vw, 20px);
		}
	}

	html {
		height: 100%;
		margin: 0;
		padding: 0;
	}

	body {
		font-family: var(--font-sans);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-display);
	}
}

@theme {
	--font-sans: 'Nunito', sans-serif;
	--font-display: 'Fredoka', sans-serif;
}

@media (max-width: 768px) {
	.card {
		margin-left: 0;
		margin-right: 0;
	}
}
